* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  nav {
      height: 15vh;
      background: #444;
      color: #DDD;
  }

  main {
      background: #EEE;
      height: 97vh;
  }

  table,
  section,
  nav {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  table {
      padding-top: 5vh;
  }

.row td {
    height: 120px;
    width: 120px;
    border: 1px solid #000;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
}

#bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#reset {
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 6rem;
    height: 3rem;
    background-color: #444;
    border-radius: 10%;
}
